.hero-text-bars{
    max-width: 600px;
    text-align: justify;
    /* background-color: var(--tertiary-color); */
    margin: 20px;
    padding: 10px;
    border-radius: 10px;

    background-color: var(--secondary-color);
    font-family: cursive;
}
.hero-text-bars:hover{
    transform: scale(1.07); 
    transition: transform 0.3s ease-in-out;
}